* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #F2EFEB;
}

header {
    background-color: #010B40;
    color: #F2EFEB;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    font-weight: normal;
}

main {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #D9A577;
    border-radius: 10px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

label {
    flex-basis: 100%;
    margin-bottom: 10px;
    color: #262626;
}

input[type="text"],
input[type="date"],
select {
    flex-basis: calc(50% - 5px);
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #F2EFEB;
    color: #262626;
}

button[type="submit"] {
    flex-basis: 100%;
    height: 40px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F26241;
    color: #F2EFEB;
    font-weight: bold;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

li {
    background-color: #F2EFEB;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #262626;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span {
    font-weight: bold;
}

.alta {
    background-color: #F26241;
    color: #F2EFEB;
}

.media {
    background-color: #D9A577;
    color: #262626;
}

.baixa {
    background-color: #262626;
    color: #F2EFEB;
}

@media only screen and (max-width: 768px) {
    main {
        margin: 20px;
    }
    
    form {
        flex-direction: column;
    }
    
    input[type="text"],
    input[type="date"],
    select {
        flex-basis: 100%;
        margin-bottom: 10px;
    }
    
    button[type="submit"] {
        margin-top: 20px;
    }
}
